@import '~src/assets/variables';

.copyright-footer {
    position: absolute;
    padding: 20px;
    right: 0;
    left: 0;
    bottom: 0;
    & .copyright-text {
        display: inline;
        color: lighten($base-white, 20%);
        font-weight: bold;
        & a {
            text-decoration: none;
            cursor: pointer;
            color: $base-bg-color;
            &:hover {
                color: lighten($base-bg-color, 5%);
            }
        }

        & img {
            color: $base-white;
            cursor: pointer;
        }
    }
}