@import '~src/assets/variables';

.header-view {
    background-color: $header-bg;
    padding-top: $base-margin;
    padding-bottom: $base-margin;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    & h1 {
        margin: 0 auto;
        color: lighten($base-white, 20%);
        font-weight: bold;
        text-shadow: 3px 3px 5px rgba(0,0,0, 0.5);
    }

    & small {
        font-weight: normal; 
        color: darken($base-white, 5%) !important;
    }

    & .control-logout {
        cursor: pointer;
        position: absolute;
        width: 150px;
        right: 0;
        top: 30%;
        & h4 {
            color: lighten($base-white, 20%);
            text-shadow: 3px 3px 5px rgba(0,0,0, 0.5);
            font-weight: bold;
       }
    }
}