@import '~src/assets/variables';
@import '~bootstrap/scss/bootstrap';

$theme-colors: (
    "primary": lighten($base-bg-color, 10%)
);

@import url(https://fonts.googleapis.com/css?family=Roboto);
$font-base: 'Roboto';
$font-family-sans-serif: $font-base, 'sans-serif' !default;
$font-family-serif: $font-base, 'serif' !default;
$font-family-monospace: $font-base, 'mono' !default;
$font-family-base: $font-base;





