@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/root";
@import '../variables';

$primary: darken($base-bg-color, 10%);
$theme-colors: (
    "primary": $primary
) !default;

@import url('//fonts.googleapis.com/css?family=Roboto');
$font-base: 'Roboto';
$font-family-sans-serif: $font-base, 'sans-serif' !default;
$font-family-serif: $font-base, 'serif' !default;
$font-family-monospace: $font-base, 'mono' !default;
$font-family-base: $font-base;

.alert-custom-danger {
    background-color: darken($base-red, 5%) !important;
    color: lighten($base-white, 10%) !important;
    margin: 0;
    & button {
        border: none;
        padding-top: 10px !important;
        text-shadow: none !important;
        outline: none;
        &:hover {
            color: lighten($base-red, 10%) !important;
        }
        & span {
            vertical-align: text-top;       
        }
    }
}

@import 'node_modules/bootstrap/scss/bootstrap';

