$brand-background: #fff;

:host .login-view {
    text-align: center;
    padding-left: 0;
    margin-left: 0;
    position: relative;
    height: calc(100vh);
    background: #841a1a; /* Old browsers */
    background: -moz-linear-gradient(top, #841a1a 0%, #841919 50%, #841515 53%, #422323 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #841a1a 0%,#841919 50%,#841515 53%,#422323 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #841a1a 0%,#841919 50%,#841515 53%,#422323 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#841a1a', endColorstr='#422323',GradientType=0 ); /* IE6-9 */
}

.login-container {
    background-color: $brand-background;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    border: 1px thin black;
    border-radius: 2px;
    padding: 30px 60px;
}