$brand-background: #fff;

.login-container {
    background-color: $brand-background;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    border: 1px thin black;
    border-radius: 2px;
    padding: 30px 60px;
}