/* You can add global styles to this file, and also import other style files */
@import 'assets/variables';
.text-center {
    text-align: center;
}

.pull-right {
    float: right;
}

.margin-h {
    margin-left: $base-margin;
    margin-right: $base-margin;
}

.no-margin {
    margin: 0;
}

.padding-v {
    padding-top: $base-margin;
    padding-bottom: $base-margin;
}

.padding-v-top {
    padding-top: $base-margin;
}

.padding-v-slim {
    padding-top: $base-margin / 2;
    padding-bottom: $base-margin / 2;
}

.padding-h {
    padding-left: $base-margin;
    padding-right: $base-margin;
}

.padding-h-left {
    padding-left: $base-margin;
}

.padding-h-slim-left {
    padding-left: $base-margin / 2;
}

.base-margin-v {
    margin-top: $base-margin;
    margin-bottom: $base-margin;
}

.vertical-middle {
    vertical-align: middle;
}

.main-view {
    text-align: center;
    padding-left: 0;
    margin-left: 0;
    position: relative;
    height: calc(100vh);
    background: $base-bg-color; /* Old browsers */
    background: -moz-linear-gradient(top, $base-bg-color 0%,  $base-bg-color-2 50%, $base-bg-color-3 90%,  $base-bg-color-4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $base-bg-color 0%, $base-bg-color-2 50%, $base-bg-color-3 90%, $base-bg-color-4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $base-bg-color 0%, $base-bg-color-2 50%, $base-bg-color-3 90%, $base-bg-color-4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$base-bg-color, endColorstr=$base-bg-color-4, GradientType=0 ); /* IE6-9 */
}

.padding-v-wide {
    padding-top: $base-margin * 2;
    padding-bottom: $base-margin * 2;
}